
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand

#define KEYS_LT LT0 LT1 LT2 LT3 LT4  // left hand top row
#define KEYS_LM LM0 LM1 LM2 LM3 LM4  // left hand mid row
#define KEYS_LB LB0 LB1 LB2 LB3 LB4  // left hand bot row

#define KEYS_RT RT0 RT1 RT2 RT3 RT4  // right hand top row
#define KEYS_RM RM0 RM1 RM2 RM3 RM4  // right hand mid row
#define KEYS_RB RB0 RB1 RB2 RB3 RB4  // right hand bot row

#define THUMBS LH1 LH0 RH0 RH1 // thumbs

#define DEFAULT   0
#define SYMBOL    1
#define NAVIGA    2
#define FUNCTN    3
#define EXTRAS    4
#define GAME      5
#define GAME2     6
#define BLUETOOTH 7

#define SHORT_IDLE 50
#define MEDIUM_IDLE 200
#define LONG_IDLE 325
#define QUICK_TAP_MS 125


#define TMS 38