/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT   0
#define SYMBOL    1
#define NUMBER    2
#define FUNCTN    3
#define EXTRAS    4

&lt {
   tapping-term-ms = <180>;
};

/ {

    behaviors {
         
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;    // <---[[moderate duration = 200]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        shm: slow_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <255>;    // <---[[moderate duration = 200]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        
        rpi: require_prior_idle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;    // <---[[moderate duration = 200]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_enter {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp ENTER>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };

        combo_at {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp AT>;
        };

        combo_caps {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

            default_layer {
        bindings = <
        &kp Q       &kp W       &kp E       &kp R       &kp T                       &kp Z       &kp U       &kp I       &kp O       &kp P
        &kp A       &rpi LALT S &rpi LCTL D &rpi LSFT F &kp G                       &kp H       &rpi RSFT J &rpi RCTL K &rpi LALT S &sl EXTRAS
        &kp Y       &kp X       &kp C       &rpi LGUI V &kp B                       &kp N       &rpi RALT M &kp CMMA    &kp DOT     &kp SCLN
                                &lt NUMBER BKSP         &kp SPC                     &lt SYMBOL TAB          &lt FUNCTN K_APP
        >;
        };

            symbol_layer {
        bindings = <
        &kp Q       &kp W       &kp E       &kp R       &kp T                       &kp Z       &kp U       &kp I       &kp O       &kp P
        &kp BSLH    &kp FSLH    &kp LBRC    &kp RBRC    &kp STAR                    &kp QMARK   &kp LPAR    &kp RPAR    &kp MINUS   &trans
        &kp HASH    &kp DOLLAR  &kp PIPE    &kp TILDE   &kp GRAVE                   &kp PLUS    &kp PERCENT &kp CMMA    &kp DOT     &trans
                                            &trans      &trans                      &trans      &tran
        >;
        };

            number_layer {
        bindings = <
        &kp F11     &kp F12      &trans       &trans       &trans                &kp STAR    &kp PLUS     &kp MINUS    &kp KP_SLASH &kp EQUAL
        &kp N1      &rpi LALT N2 &rpi LCTL N3 &rpi LSFT N4 &kp N5                &kp N6      &rpi RSFT N7 &rpi RCTL N8 &rpi LALT N9 &kp N0
        &kp F1      &kp F2       &kp F3       &rpi LGUI F4 &kp F5                &kp F6      &rpi RALT F7 &kp F8       &kp F9       &kp F10
                                 &trans                     &trans               &trans                   &trans          
        >;
        };

            function_layer {
        bindings = <
        &kp F11     &kp F12      &trans       &trans       &trans                &kp STAR    &kp PLUS     &kp MINUS    &kp KP_SLASH &kp EQUAL
        &kp N1      &rpi LALT N2 &rpi LCTL N3 &rpi LSFT N4 &kp N5                &kp N6      &rpi RSFT N7 &rpi RCTL N8 &rpi LALT N9 &kp N0
        &kp F1      &kp F2       &kp F3       &rpi LGUI F4 &kp F5                &kp F6      &rpi RALT F7 &kp F8       &kp F9       &kp F10
                                 &trans                     &trans               &trans                   &trans          
        >;
        };

            extra_layer {
        bindings = <
        &kp F11     &kp F12      &trans       &trans       &trans                &kp STAR    &kp PLUS     &kp MINUS    &kp KP_SLASH &kp EQUAL
        &kp N1      &rpi LALT N2 &rpi LCTL N3 &rpi LSFT N4 &kp N5                &kp N6      &rpi RSFT N7 &rpi RCTL N8 &rpi LALT N9 &kp N0
        &kp F1      &kp F2       &kp F3       &rpi LGUI F4 &kp F5                &kp F6      &rpi RALT F7 &kp F8       &kp F9       &kp F10
                                 &trans                     &trans               &trans                   &trans          
        >;
        };

    };
};
